{% extends 'base.html' %}

{% load static %}

{% block styles %}

<style>

section#registro
{
	/*background-color: #1e4e6b;
	color: white;*/
}

</style>

{% endblock %}

{% block content %}

<section id="registro">
	
<div class="row">
	<div class="col-8 offset-2">
		<h1 class="text-center">Registro</h1>
		<hr class="divider red">
	</div>
</div>

<div class="row">		
	<div class="col-8 offset-2">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<!-- <table>    	 -->
			
			<div class="row">

			{% for field in form %}			

				<div class="col-6">
					{{ field.label_tag }} 
					{{ field }}
					<br>
				</div>
				
				<!-- {% if forloop.counter|divisibleby:2 %}
				</div>
				<div class="row">
				{% endif %} -->

			{% endfor %}
			</div>			
		    <div class="row">		    	
				<div class="col-4 offset-4">
		    		<input type="submit" class="btn btn-lg btn-danger" value="REGISTRARSE" />
		    	</div>
		    </div>
		</form>			
	</div>
</div>

</section>

{% endblock %}

{% block scripts %}

<script>

	$("#id_tipo_registro").on("change", function(){
		alert($(this).val())
		let val = $(this).val()
		if(val == "profesional")
		{
			$("#id_rfc").prop("required", true).parent(".col-6").show();
			$("#id_nocontrol").prop("required", false).parent(".col-6").hide();
		}
		else
		{
			$("#id_rfc").prop("required", false).parent(".col-6").hide();
			$("#id_nocontrol").prop("required", true).parent(".col-6").show();
		}
	});

	$("#id_nocontrol").prop("required", false).parent(".col-6").hide();
	$("#id_rfc").prop("required", false).parent(".col-6").hide();

	
	$(".registro").on("click", function(e){
		e.preventDefault();
		lity("/registrar/")
	});

</script>

{% endblock %}