{% extends 'base.html' %}

{% load static %}

{% block styles %}

<style>

.carousel-caption h1
{
	font-family: 'Audiowide', cursive;	
	text-shadow: 2px 2px #464a4e;	
}

.carousel-caption h1.titulo
{	
	font-family: 'Righteous', cursive;
}

section#ciitys
{
	background-color: #353b41;
	color: white
}
section#ciitys p
{
	font-size: 1.3em;
	line-height: 1.5em;
}
section#conferencistas
{
	padding-top: 5em;
	background-color: #f8f9fa;
    border: 0;
    text-align: center;
}
section#conferencistas .carta
{
    border: 0;
    text-align: center;
    background-color: #f8f9fa;
    padding: 1em;
}

section#conferencistas .carta > img
{
    width: 100%;
}

section#talleres
{
	background-color: #e9ecef;
}
section#talleres img
{
    width: 100%;
}
section#registro
{
	background-color: #1e4e6b;
	color: white;
}

section#contacto
{
	background: rgba(53, 59, 65, 1);
    color: white;
}

</style>

{% endblock %}

{% block content %}

<div class="row">
	
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/landing7.jpg' %}" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
      	<h1 class="display-4">
      		2o Congreso Internacional de Innovación Tecnología y Sustentabilidad       		
      	</h1>
      	<h1 class="display-3">CIITyS 2018</h1>
      	<!-- <h1 class="display-4">
      		Una visión multidisciplinaria
      	</h1>-->
      	<h1 class="display-5">      		
      		Del 13 al 17 de Noviembre
      	</h1>
	    <a href="#registro" class="btn btn-danger btn-lg">REGISTRARSE</a>
	  </div>
    </div>    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<section id="ciitys">
	
	<div class="row">
		<div class="col-8 offset-2">
			
			<h1 class="text-center">CIITyS 2018</h1>	
			<hr class="divider">		
			<p align="" class="lead text-center">
				El Instituto Tecnológico de Acapulco realizará este año la Semana Académica y Cultural, que tiene como propósito vincular a la comunidad Tecnológica académica, científica, empresarial y a la sociedad en general. Expertos profesionistas y académicos compartirán sus experiencias con ponencias magistrales en temas de interés nacional como es el ahorro de energía, nuevas tecnologías, desarrollo sustentable, innovación y competitividad, avances tecnológicos en la empresa, medios digitales y el marketing digital.
			</p>
		</div>
	</div>

</section>

<section id="conferencistas">

	<div class="row">
		<div class="col-8 offset-2 text-center">
			<h1>Conferencistas Magistrales</h1>
			<hr class="divider">
		</div>
	</div>

	<div class="row">
		<div class="col-8 offset-2">
			<div class="row">

				{% for ponente in ponentes %}

				<div class="col-4">

					<div class="carta">
						{% if ponente.foto %}
						<img class="rounded-circle" src="{{ ponente.foto.url }}" alt="Card image cap">
						{% endif %}
						<div class="text-center">
						    <p class="">
							    <strong>{{ ponente.nombre }}</strong>
							    <br>
							    <span>							    
							    {{ ponente.resumen }}							    
							    </span>							    
						    </p>
						</div>
					</div>					
					
				</div>

				{% endfor %}

			</div>
		</div>
	</div>
</section>

	

<section id="talleres">
	
	<div class="row">
		<div class="col-8 offset-2 text-center">
			<h1>Cursos y Talleres</h1>
			<hr class="divider">
		</div>
	</div>

	

	<div class="row">
		<div class="col-5 offset-1">


		<div class="row">
			<div class="col-6 text-right">
				
				<h5 class="">
				3D ESTUDIO MAX 
				
				<span class="text-muted">
					(LABORATORIO DE TOPOGRAFÍA)
				</span></h5>
				
				<p class="">
					Dias y horario: Imparte Arq. Oswaldo N. Altamirano Ruiz, del lunes 13 al 16 de noviembre de 2017, en un horario de 9:00 a 13:00 horas.

					<br>
					<br>

					<a href="" class="btn btn-lg registro btn-success">
						Más Información
					</a>
				</p>
			</div>
			<div class="col-6">
				<img src='{% static "/taller/1.png" %}' alt="3d-max">
			</div>
		</div>
		
		<br>
		<br>

		<div class="row">

			<div class="col-6 text-right">				
				<h5 class="display-5">
				AUTOCAD AVANZADO
				<br>
				<span class="text-muted">
					(AULA 805)
				</span></h5>
				
				<p class="">
					Dias y horario: Imparte el Arq. Miguel Angel Peralta Hernández. Del lunes 13 al jueves 16 de noviembre de 2017. En un horario de las 9:00 a las 13:00 horas.

					<br>
					<br>

					<a href="" class="btn btn-lg registro btn-success">
						Más Información
					</a>
				</p>
			</div>

			<div class="col-6">
				<img src='{% static "/taller/autocad-2019.jpg" %}' alt="3d-max">
			</div>
		</div>

		<br>
		<br>

		<div class="row">
			<div class="col-6">
				
				<h5 class="text-right">
				AUTOCAD BÁSICO 
				<br>
				<span class="text-muted">
					(LABORATORIO DE CÓMPUTO)
				</span></h5>
				
				<p class=" text-right">
					Dias y horario: Imparte: C. Christian Bathuel Alvarado Acosta y C. Abdallah Isaias Guevara Camacho. Del día 13 al 16 de noviembre del 2017 de 9-13 horas

					<br>
					<br>

					<a href="" class="btn btn-lg registro btn-success">
						Más Información
					</a>
				</p>
			</div>
			<div class="col-6">
				<img src='{% static "/taller/AutoCAD.jpg" %}' alt="3d-max">
			</div>
		</div>

			

			
		</div>

		<div class="col-5">
			
			<div class="row">
			
			<div class="col-6">
				<img src='{% static "/taller/1.png" %}' alt="3d-max">
			</div>

			<div class="col-6">
				
				<h5 class="">
				3D ESTUDIO MAX 
				
				<span class="text-muted">
					(LABORATORIO DE TOPOGRAFÍA)
				</span></h5>
				
				<p class="">
					Dias y horario: Imparte Arq. Oswaldo N. Altamirano Ruiz, del lunes 13 al 16 de noviembre de 2017, en un horario de 9:00 a 13:00 horas.

					<br>
					<br>

					<a href="" class="btn btn-lg registro btn-success">
						Más Información
					</a>
				</p>
			</div>
		</div>
		
		<br>
		<br>

		<div class="row">
			
			<div class="col-6">
				<img src='{% static "/taller/autocad-2019.jpg" %}' alt="3d-max">
			</div>

			<div class="col-6">				
				<h5 class="display-5">
				AUTOCAD AVANZADO
				<br>
				<span class="text-muted">
					(AULA 805)
				</span></h5>
				
				<p class="">
					Dias y horario: Imparte el Arq. Miguel Angel Peralta Hernández. Del lunes 13 al jueves 16 de noviembre de 2017. En un horario de las 9:00 a las 13:00 horas.

					<br>
					<br>

					<a href="" class="btn btn-lg registro btn-success">
						Más Información
					</a>
				</p>
			</div>
		</div>

		<br>
		<br>

		<div class="row">
			
			<div class="col-6">
				<img src='{% static "/taller/AutoCAD.jpg" %}' alt="3d-max">
			</div>

			<div class="col-6">
				
				<h5 class="">
				AUTOCAD BÁSICO 
				<br>
				<span class="text-muted">
					(LABORATORIO DE CÓMPUTO)
				</span></h5>
				
				<p class="">
					Dias y horario: Imparte: C. Christian Bathuel Alvarado Acosta y C. Abdallah Isaias Guevara Camacho. Del día 13 al 16 de noviembre del 2017 de 9-13 horas

					<br>
					<br>

					<a href="" class="btn btn-lg registro btn-success">
						Más Información
					</a>
				</p>
			</div>
		</div>

		</div>
	</div>
</section>

<section id="registro">
	
<div class="row">
	<div class="col-8 offset-2">
		<h1 class="text-center">Registro</h1>
		<hr class="divider red">
	</div>
</div>

<div class="row">		
	<div class="col-8 offset-2">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<!-- <table>    	 -->
			
			<div class="row">

			{% for field in form %}			

				<div class="col-6">
					{{ field.label_tag }} 
					{{ field }}
					<br>
				</div>
				
				<!-- {% if forloop.counter|divisibleby:2 %}
				</div>
				<div class="row">
				{% endif %} -->

			{% endfor %}
			</div>			
		    <div class="row">		    	
				<div class="col-4 offset-4">
		    		<input type="submit" class="btn btn-lg btn-danger" value="REGISTRARSE" />
		    	</div>
		    </div>
		</form>			
	</div>
</div>

</section>

<section id="contacto">
	<div class="row">
		<div class="col text-center">
			<h1 class="text-center">Contacto</h1>
			<hr class="divider">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d955.028201791911!2d-99.77259019082678!3d16.771062324053077!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ca5c7edf7704af%3A0x8268c366c01afe46!2sForum+de+Mundo+Imperial!5e0!3m2!1ses!2smx!4v1524000463759" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</section>

{% endblock %}

{% block scripts %}

<script>

	$("#id_tipo_registro").on("change", function(){
		// alert($(this).val())
		let val = $(this).val()
		if(val == "profesional")
		{
			$("#id_rfc").prop("required", true).parent(".col-6").show();
			$("#id_nocontrol").prop("required", false).parent(".col-6").hide();
		}
		else if(val == "alumno")
		{
			$("#id_rfc").prop("required", false).parent(".col-6").hide();
			$("#id_nocontrol").prop("required", true).parent(".col-6").show();
			$("#id_carrera").prop("required", true).parent(".col-6").show();
			$("#id_semestre").prop("required", true).parent(".col-6").show();
		}
		else if(val == "exalumno")
		{
			$("#id_rfc").prop("required", false).parent(".col-6").show();
			$("#id_nocontrol").prop("required", false).parent(".col-6").show();
			$("#id_carrera").prop("required", true).parent(".col-6").show();
			$("#id_semestre").prop("required", false).parent(".col-6").hide();
		}
		else
		{
			$("#id_rfc").prop("required", false).parent(".col-6").hide();
			$("#id_nocontrol").prop("required", true).parent(".col-6").show();
			$("#id_semestre").prop("required", true).parent(".col-6").show();
			$("#id_carrera").prop("required", false).parent(".col-6").hide();
		}
	});

	$("#id_nocontrol").prop("required", false).parent(".col-6").hide();
	$("#id_rfc").prop("required", false).parent(".col-6").hide();
	$("#id_carrera").prop("required", false).parent(".col-6").hide();
	$("#id_semestre").prop("required", false).parent(".col-6").hide();	

</script>

{% endblock %}