{% extends 'baseadmin.html' %}

{% block content %}
<script>
	
stateFormatter = function(value, row)
{
	if ($.trim(value) == "draft")
	{
		return "Pago Pendiente";
	}
	else
	{
		return "Pagado";
	}
}
</script>
<section >

<div class="row">
	<div class="col text-center">
		<h1>Listado de Registros:</h1>
		<hr class="divider red">
	</div>
</div>
<div id="toolbar" class="row">	
	<div class="col">
		<a href="{% url 'pagos_print' %}" target="_blank" class="btn btn-success">
			<i class="fa fa-print"></i>
			Imprimir PDF
		</a>
	</div>
</div>
<div class="row">
	<div class="col-12">	
	
		<table class="table" 
				data-search="true" 
				data-click-to-select="true"
				data-show-columns="false"
				data-pagination="true" 
				data-height="450"
				data-show-export="true"
				data-toolbar="#toolbar">
			<thead>
				<tr>
					<th data-field="nombre" data-sortable="true">Nombre</th>	
					<th data-field="apellidop" data-sortable="true">Apellidos</th>
					<th data-field="email" data-sortable="true">Email</th>
					<th data-field="tipo" data-sortable="true">Tipo</th>
					<th data-field="identificacion" data-sortable="true">Identificación</th>	
					<th data-field="semestre" data-sortable="true">Semestre</th>
					<th data-field="carrera" data-sortable="true">Carrera</th>
					<th data-field="state" data-sortable="true" data-formatter="stateFormatter">Estatus</th>	
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>
						<a href='{% url "registros_editar" row.id %}'>
							{{ row.nombre }}
						</a>
					</td>
					<td>
						<a href='{% url "registros_editar" row.id %}'>{{ row.apellidop }} {{ row.apellidom }} </a>
					</td>
					<td>
						<a href='{% url "registros_editar" row.id %}'>{{ row.email }} </a>
					</td>
					<td>
						{% if row.tipo_registro == 'profesional' %}
						Profesionista
						{% elif row.tipo_registro == 'alumno' %}
						Alumno ITA
						{% elif row.tipo_registro == 'exalumno' %}
						Ex-Alumno ITA
						{% else %}
						Alumno Externo
						{% endif %}

					</td>
					<td>
						{% if row.tipo_registro == 'profesional' %}
						{{ row.rfc }}
						{% elif row.tipo_registro == 'alumno' %}
						{{ row.nocontrol }}
						{% else %}

							{% if row.rfc %}
								{{ row.rfc }}
							{% elif row.nocontrol %}
								{{ row.nocontrol }}
							{% endif %}

						{% endif %}
					</td>
					<td>
						{{row.semestre}}
					</td>	
					<td>
						{{ row.carrera }}
					</td>
					<td>										
						{{ row.state }}
					</td>				
					<td align="right">
						{% if row.state != 'done' %}
						<a href="{% url 'registros_pago' row.id %}" class="btn btn-success">PAGAR</a>
						{% endif %}						
					</td>
				</tr>
				{% endfor %}	
			</tbody>
		</table>
	</div>
</div>
</section>
{% endblock %}


{% block scripts %}


{% endblock %}