{% extends 'baseadmin.html' %}

{% block content %}
<script>

window.pagoEvents = {
	"click .pago" : function(e, value, row, index){
		e.preventDefault()
		console.log(row)
		$(".modal-pago").data("row", row).data("index", index).modal("show")
		// actualizar_pago(row, index);
	}
}

pagoFormatter = function(value, row){	
	if($.trim(value) == "None")
		value = "Pendiente"	
	return value
}

format_number = function(value, row)
{
    return Number(value).toLocaleString('es-MX', { style: 'currency', currency: 'MXN'})
}

semestreFormatter = function(value, row){	
	if($.trim(value) == "None")
		value = "-"	
	return value
}

carreraFormatter = function(value, row){	
	if($.trim(value) == "sistemas")
		value = "INGENIERÍA EN SISTEMAS COMPUTACIONALES"
	else if($.trim(value) == "bioquimica")
		value = "INGENIERÍA EN BIOQUÍMICA"
	else if($.trim(value) == "electromecanica")
		value = "INGENIERÍA EN ELECTROMECÁNICA"
	else if($.trim(value) == "arquitectura")
		value = "ARQUITECTURA"
	else if($.trim(value) == "administracion")
		value = "LICENCIATURA EN ADMINISTRACIÓN"
	else if($.trim(value) == "contabilidad")
		value = "LICENCIATURA EN CONTADURÍA"
	else if($.trim(value) == "gestion")
		value = "INGENIERÍA EN GESTIÓN EMPRESARIAL"
	else
		value = "-"
	return value
}
	
stateFormatter = function(value, row)
{
	if ($.trim(value) == "draft")
	{
		return "Nuevo";
	}
	else if ($.trim(value) == "open")
	{
		return "Confirmado";
	}
	else
	{
		return "Pagado";
	}
}

actionFomatter = function(value, row)
{
	if($.trim(row.state) != "done")
	{
		return "<a href='#' class='btn btn-success pago'>PAGAR</a>"
	}
}
</script>

<div class="modal modal-pago" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar Pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">			
        	<div class="row">
	        	<div class="col">
	        		
	        		<label for="">Cantidad a pagar:</label>
	        		<input type="number" class="form-control" name="monto" step="0.1" min="0" id="id_monto">
	        	</div>
        	</div>
        	<hr>
		    <div class="m-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">SALIR</button>
		        <button type="submit" class="btn btn-danger">PAGAR</button>
		    </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section >

<div class="row">
	<div class="col text-center">
		<h1>Listado de Registros:</h1>
		<hr class="divider red">
	</div>
</div>
<div id="toolbar" class="row">	
	<div class="col">
		<a href="{% url 'pagos_print' %}" target="_blank" class="btn btn-success">
			<i class="fa fa-print"></i>
			Imprimir PDF
		</a>
	</div>
</div>
<div class="row">
	<div class="col-12">	
	
		<table class="table registros-pago" 
				data-search="true" 
				data-click-to-select="true"
				data-show-columns="false"
				data-pagination="true" 
				data-height="450"
				data-show-export="true"
				data-toolbar="#toolbar">
			<thead>
				<tr>
					<th data-field="id" data-visible="false"></th>
					<th data-field="nombre" data-sortable="true">Nombre</th>	
					<th data-field="apellidop" data-sortable="true">Apellidos</th>					
					<th data-field="fecha_pago" data-formatter="pagoFormatter" data-sortable="true">Fecha Pago</th>					
					<th data-field="tipo_registro" data-sortable="true">Tipo</th>
					<th data-field="identificacion" data-sortable="true">Identificación</th>	
					<th data-field="pagado" data-formatter="format_number" data-sortable="true">Pagado</th>
					<th data-field="saldo" data-formatter="format_number" data-sortable="true">Saldo</th>
					<th data-field="state" data-sortable="true" data-formatter="stateFormatter">Estatus</th>	
					<th data-field="actions" data-formatter="actionFomatter" data-events="pagoEvents"></th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>
						{{row.id}}
					</td>
					<td>						
						{{ row.nombre }}						
					</td>
					<td>
						{{ row.apellidop }} {{ row.apellidom }}
					</td>
					<td>
						{{ row.fecha_pago }}
					</td>					
					<td>
						{% if row.tipo_registro == 'profesional' %}
						Profesionista
						{% elif row.tipo_registro == 'alumno' %}
						Alumno ITA
						{% elif row.tipo_registro == 'exalumno' %}
						Ex-Alumno ITA
						{% else %}
						Alumno Externo
						{% endif %}

					</td>
					<td>
						{% if row.tipo_registro == 'profesional' %}
						{{ row.rfc }}
						{% elif row.tipo_registro == 'alumno' %}
						{{ row.nocontrol }}
						{% else %}

							{% if row.rfc %}
								{{ row.rfc }}
							{% elif row.nocontrol %}
								{{ row.nocontrol }}
							{% endif %}

						{% endif %}
					</td>
					
					<td>
						{{ row.pagado }}
					</td>
					<td>
						{{ row.saldo }}
					</td>
					<td>										
						{{ row.state }}
					</td>				
					<td align="right">
						{# {% if row.state != 'done' %} #}
						<!-- <a href="{% url 'registros_pago' row.id %}" class="btn btn-success pago">PAGAR</a> -->
						{# {% endif %}		 #}
					</td>
				</tr>
				{% endfor %}	
			</tbody>
		</table>
	</div>
</div>
</section>
{% endblock %}


{% block scripts %}

<script>
	
function actualizar_pago(row, index)
{
	$.getJSON("/registros/pago/" + row.id, function(res){
		console.log(res)
		if(res.success)
		{
			$(".registros-pago").bootstrapTable("updateRow", {"index" : index, "row" : res.data[0]});
		}
	})
}

$(".modal-pago").on("shown.bs.modal", function(){
	console.log($(this).data())
	let row = $(this).data("row");
	let id = $.trim(row.id);
	let saldo = $.trim(row.saldo);
	let href = "/registros/pago/" + id;
	$(this).find("form").attr("action", href);
	$(this).find("#id_monto").val(saldo);
})

$(".modal-pago form").on("submit", function(e){
	e.preventDefault();
	let data = $(this).serialize();
	let action = $(this).attr("action");
	let index = $(".modal-pago").data("index")

	console.log(data)
	
	$.getJSON(action, data, function(res){
		console.log(res)
		if(res.success)
		{
			$(".registros-pago").bootstrapTable("updateRow", {"index" : index, "row" : res.data[0]});
			$(".modal-pago").modal("hide");
		}
	});	

	// console.log($(this).data())
	// let row = $(this).data("row");
	// let id = $.trim(row.id);
	// let saldo = $.trim(row.saldo);
	// let href = "/registros/pago/" + id;
	// $(this).find("form").attr("action", href);
	// $(this).find("#id_monto").val(saldo);
})

</script>

{% endblock %}