{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}
<section >

<div class="row">
	<div class="col text-center">
		<h1>Listado de Ponentes:</h1>
		<hr class="divider red">
	</div>
</div>
<div class="row" id="toolbar">
	<div class="col">		
		<a href="{% url 'ponentes_nuevo' %}" class="btn btn-danger">
		<i class="fa fa-plus"></i>
		Agregar Nuevo</a>
		<br><br>		
	</div>
</div>
<div class="row">
	<div class="col-12">	
	
		<table class="table" 
				data-search="true" 
				data-click-to-select="true"
				data-show-columns="false"
				data-pagination="true" 
				data-height="450"
				data-show-export="false"
				data-toolbar="#toolbar">
			<thead>
				<tr>
					<th data-checkbox="true"></th>
					<th></th>
					<th>Titulo</th>				
					<th>Nombre</th>	
					<th>Email</th>	
					<th>Telefono</th>	
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td></td>
					<td>
						{% if row.foto %}
						<img src="{{ row.foto.url }}" alt="Foto" style="width:50px; heigh: 50px;">
						{% else %}
						<img src="{% static 'img/default.png' %}" alt="Foto" style="width:50px; heigh: 50px;">
						{% endif %}
					</td>
					<td>
						{{ row.titulo }}
					</td>				
					<td>
						<a href='{% url "ponentes_editar" row.id %}'>
						{{ row.nombre }}
						<br>
						<small>{{ row.resumen }}</small>
					</a>
					</td>	
					<td>{{ row.email }}</td>
					<td>{{ row.telefono }}</td>

					<td align="right">
						<div class="dropdown">
						  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Acciones
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="{% url 'ponentes_editar' row.id %}">Editar</a>						    
						    {# <a class="dropdown-item" href="{% url 'eliminar' prod.id %}">Eliminar</a> #}
						  </div>
						</div>						
					</td>
				</tr>
				{% endfor %}	
			</tbody>
		</table>
	</div>
</div>
</section>
{% endblock %}