{% extends 'baseadmin.html' %}
{% block content %}
<section>

<div class="row">
	<div class="col text-center">
		<h1>Edición de Datos</h1>
		<hr class="divider red">
	</div>
</div>
	
<div class="row">
	
	<div class="col-10 offset-1">		
		<form action="" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    <!-- <table>    	 -->
			<div class="row">				
		    {% for field in form %}

		    	{% if field.name == "descripcion" or field.name == "objetivo" %}
				<div class="col-12">
					{{ field.label_tag }} 
					{{ field }}
		    		<br>
				</div>
		    	{% else %}
				<div class="col-6">
					{{ field.label_tag }} 
					{{ field }}
		    		<br>
				</div>
		    	{% endif %}
			

		    {% endfor %}
			</div>

		    <!-- </table> -->
		    <div class="row">		    	
				<div class="col-4 offset-2">
		    		<input type="button" class="btn btn-secondary back" value="Salir" />
		    	</div>
				<div class="col-4">
		    		<input type="submit" class="btn btn-danger" value="Guardar" />
		    	</div>
		    </div>
		</form>
	</div>
</div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$(".btn.back").on("click", function(e){
		e.preventDefault()
		location.href = "/talleres";
	})

	$("#id_fecha_hora").attr("type", "date");
	$("#id_hora, #id_hora_fin").attr("type", "time");
</script>
{% endblock %}

