{% extends 'baseadmin.html' %}

{% block content %}

<section id="registro">
	
<div class="row">
	<div class="col-8 offset-2">
		<h1 class="text-center">Talleres</h1>
		<hr class="divider red">
	</div>
</div>

<div class="row">		
	<div class="col-10 offset-1">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<!-- <table>    	 -->
			
			<div class="row">

			{% for field in form %}			

				<div class="col-6">

					{% if field.name == 'fecha_hora' %}
					{{ field.label_tag }} 					
					<input type="date" class="form-control" name="fecha_hora" id="id_fecha_hora" value="{{ field.value }}">
					{% elif field.name == 'hora' %}
					{{ field.label_tag }} 					
					<input type="time" class="form-control" name="hora" id="id_hora" value="{{ field.value }}">
					{% elif field.name == 'descripcion' %}
					</div></div>
					<div class="row">
					<div class="col">
					{{ field.label_tag }} 					
					{{ field }}
					{% else %}
					{{ field.label_tag }} 					
					{{ field }}
					{% endif %}
					<br>
				</div>			
				
			{% endfor %}
			</div>			
		    <div class="row">		    	
				<div class="col-4 offset-4">
		    		<input type="submit" class="btn btn-lg btn-danger" value="GUARDAR" />
		    	</div>
		    </div>
		</form>			
	</div>
</div>

</section>

{% endblock %}
