{% extends 'baseadmin.html' %}
{% block content %}
<section>

<div class="row">
	<div class="col text-center">
		<h1>Edición de Datos</h1>
		<hr class="divider red">
	</div>
</div>
	
<div class="row">
	
	<div class="col-8 offset-2">		
		<form action="" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    <!-- <table>    	 -->
			<div class="row">				
		    {% for field in form %}

		    	{% if field.name == "descripcion" %}
				<div class="col-12">
					{{ field.label_tag }} 
					{{ field }}
		    		<br>
				</div>
		    	{% else %}
				<div class="col-6">
					{{ field.label_tag }} 
					{{ field }}
		    		<br>
				</div>
		    	{% endif %}
			

		    {% endfor %}
			</div>

		    <!-- </table> -->
		    <div class="row">		    	
				<div class="col-6 offset-3">
		    		<input type="submit" class="btn btn-danger" value="Guardar" />
		    	</div>
		    </div>
		</form>
	</div>
</div>
</section>

{% endblock %}
